html, body {
    text-align: center;
    height: 100%;
    font-family: sans-serif, "Open Sans";
}

hr {
    width: 50%;
}

.header{
    display: block;
    text-align: center;
    width: auto;
    height: 15%;
    background-color: #173753;
    color: aliceblue;
}

#header-bg, #footer {
    background-color: #F0F0F0;
    height: 50px;
    width: 100%;
}

#generator-title, #complexity-title {
    line-height: 2.5em;
    alignment: center;
}

.main-container {
    width: 100%;
    height: 83%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.flex-item {
    width: 100%;
    display: inline-block;
    flex-wrap: wrap;
    flex-grow: 1;
}

#instructions {
    color: grey;
}

#inputs {
    flex-direction: row;
    align-items: baseline;
    margin: 10px; /*This causes it not to sit flush on the header*/
}

.column1, .column3 {
    width: 20%;
    height: 100%;
    padding: 10px;
    display: inline-block;
}
.column2 {
    width: 10%;
    height: 100%;
    display: inline-block;
}

.main-button, .link-button {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #3498DB;
    border-radius: 8px;
    min-width: 11em;
    height: 2.5em;
    line-height: 1em;
    text-decoration: none;
    margin: 1.5em;
    font-size: medium;
}

.main-button:hover, .link-button:hover {
    background-color: #0E354F;
}

.link-button {
    line-height: 2.5em;
}

.test-button {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #3498DB;
    border-radius: 8px;
    text-decoration: none;
    width: 5em;
    font-size: small;
}

.test-button:hover{
    background-color: #0E354F;
}

.header-row {
    height: 3em;
}

.row {
    display: block;
    height: 2em;
}

label {
    float: right;
    color: red;
    font-weight: bold;
    padding-left: 2px;
}

#c1-input, #c2-input, #c3-input {
    position: relative;
}

#c1-input .tooltip, #c2-input .tooltip, #c3-input .tooltip{
    visibility: hidden;
    width: 11em;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    position:absolute;
    z-index: 1;
    bottom: 0.3em;
    left: 100%;
    margin-left: 0.5em;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
    top: 0;
    text-align: center;
    padding: 5px;
}

#c1-input:hover .tooltip  {
    visibility: visible;
    opacity: 1;
}

#c2-input:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#c3-input:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.input-text, .select {
    width: 95%;
    height: 2em;
    box-shadow: 3px 3px 3px darkslategray;
    border: 1px solid grey;
}

.input-text:hover, .select:hover {
    border: 1px solid #3498DB;
}

.select {
    height: 2.6em;
}

.generate-button, .password-container {
    width: 50%;
}

#password-container {
    min-height: 30%;
}

#password-output {
    width: auto;
    font-family: monospace;
    letter-spacing: .15em;
    margin: 0 auto;
    overflow: auto;
    border-right: .15em solid #173753;
    white-space: nowrap;
}

#footer {
    /*Make it stick to the bottom of the page?*/
    /*margin-top: -50px;*/
}

.animation {
    animation: typing 3.5s steps(40, end),
    blinking-cursor .5s step-end 10s;
}

/* Standard syntax */
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

@keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: #173753 }
}
